<h1>Form</h1>
<form
  class="example-form"
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
  #noteForm="ngForm"
>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" formControlName="firstName" />
    <mat-error *ngIf="noteForm.submitted && userForm.get('firstName').invalid">
      First Name is <strong>required</strong>
    </mat-error> </mat-form-field
  ><br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" formControlName="lastName" />
    <mat-error *ngIf="noteForm.submitted && userForm.get('lastName').invalid">
      Last Name is <strong>required</strong>
    </mat-error> </mat-form-field
  ><br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" />
    <mat-error *ngIf="noteForm.submitted && userForm.get('email').errors">
      <span *ngIf="userForm.get('email').errors.required"
        >Email is <strong>required</strong></span
      >
      <span *ngIf="userForm.get('email').errors.pattern"
        >Email must be a valid email address</span
      >
    </mat-error> </mat-form-field
  ><br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Phone" formControlName="phone" />
    <mat-error *ngIf="noteForm.submitted && userForm.get('phone').errors">
      <span *ngIf="userForm.get('phone').errors.required"
        >Phone is <strong>required</strong></span
      >
      <span
        *ngIf="
          userForm.get('phone').errors.minlength ||
          userForm.get('phone').errors.maxlength
        "
        >Mobile number should be min & max 10 digit of numbers</span
      >
    </mat-error> </mat-form-field
  ><br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Company</mat-label>
    <input matInput placeholder="Company" formControlName="company" />
    <mat-error *ngIf="noteForm.submitted && userForm.get('company').invalid">
      Company is <strong>required</strong>
    </mat-error> </mat-form-field
  ><br />
  <div>
    <mat-radio-group aria-label="Select an option" formControlName="gender">
      <mat-radio-button [value]="a" *ngFor="let a of genderList">
        {{ a }}</mat-radio-button
      >
      <mat-error *ngIf="noteForm.submitted && userForm.get('gender').invalid">
        Gender is <strong>required</strong>
      </mat-error>
    </mat-radio-group>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Date Of Birth</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dob" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="noteForm.submitted && userForm.get('dob').invalid">
      Date Of Birth is <strong>required</strong>
    </mat-error> </mat-form-field
  ><br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" formControlName="password" />
    <mat-error *ngIf="noteForm.submitted && userForm.get('password').invalid">
      Password is <strong>required</strong>
    </mat-error> </mat-form-field
  ><br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      placeholder="Confirm Password"
      formControlName="confirmPassword"
    />
    <mat-error
      *ngIf="noteForm.submitted && userForm.get('confirmPassword').errors"
    >
      <span *ngIf="userForm.get('confirmPassword').errors.required"
        >Confirm Password is <strong>required</strong></span
      >
      <span *ngIf="userForm.get('confirmPassword').errors.matching"
        >Passwords must match
      </span>
    </mat-error> </mat-form-field
  ><br />
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10">
    <button type="submit" mat-raised-button color="primary">
      {{ !this.userForm.get('id').value ? 'Save' : 'Update' }}
    </button>
    <button
      type="button"
      mat-raised-button
      (click)="clear()"
      *ngIf="!this.userForm.get('id').value"
    >
      Clear
    </button>
  </div>
  <br />
</form>

<!-- //---table -->

<div *ngIf="userDetailList && userDetailList.length">
  <h1>Table</h1>
  <table
    mat-table
    [dataSource]="userDetailList"
    #table
    class="mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
    <!-- ['position', 'firstName', 'lastName', 'email', 'phone', 'company', 'dob', 'action'] -->
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Company</th>
      <td mat-cell *matCellDef="let element">{{ element.company }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef>DOB</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dob | date: 'dd-MM-yyyy' }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editUser(element)">
            <mat-icon>edit</mat-icon>Edit
          </button>
          <button mat-menu-item (click)="deleteUser(i)">
            <mat-icon>delete</mat-icon>Delete
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
